{% extends 'base.html' %}

{% block content %}
<section class="container-sm">
    <br>
    <h3>{% block title %}Registro de Nueva Tarea{% endblock %}</h3>
    <form action="" method="post">
        <div class="form-group">
            <label for="titulo_tarea_nueva" class="form-label">Título: </label>
            <input type="text" class="form-control" placeholder="Título" id="titulo_tarea_nueva" name="titulo_tarea_nueva" required
                minlength="4" maxlength="40">
        </div>
        <div class="form-group">
            <label for="descripcion_tarea">Descripción: </label>
            <textarea class="form-control" placeholder="Descripción" id="descripcion_tarea" name="descripcion_tarea"
                style="height: 100px"></textarea>
            <div class="form-text">Puedes agregar una descripción opcional si así lo deseas.</div>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Guardar Tarea"></input>
            <a href="{{ url_for('todo.index') }}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</section>
{% endblock %}