{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container-sm text-center">

    {% if g.user %}
    <br>
    <h1 class="display-3">Bienvenido a tu lista de tareas, {{ g.user.username }}.</h1>
    {% else %}
    <br>
    <h1 class="display-3">¡Bienvenido!</h1>
    <h3 class="display-3">Inicia sesión o puedes crear una cuenta.</h3>
    {% endif %}

    <p class="lead">Aquí puedes llevar un control o registro de todas tus tareas y tener una vista general de tus
        responsabilidades.</p>

    <hr class="my-4">

    {% if g.user %}
    <div class="d-felx justify-content-center">
        <a title="Ver Tareas" href="{{ url_for('todo.index') }}" class="btn btn-primary mx-2"><svg
                xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="28" height="28"
                viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
            </svg> Ver mis tareas</a>
    </div>
    {% else %}
    <div class="d-felx justify-content-center">
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary mx-2">Iniciar Sesión</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn-success mx-2">Registrarme</a>
    </div>
    {% endif %}

</div>
{% endblock %}